.container{
    display: flex;
    justify-content: center;
    width: 90%;
    

}

.containercountry{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(1, 100%);
    width: 90%;
}