@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500;1,900&display=swap');

.container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 20px 20px;
}